<ion-header>
</ion-header>

<ion-content>
  <div class="backing">

    <div text-center class="bg-top">
      FILMS
      <div *ngIf="datos" class="datamanage">
        <br>
        <h5>
          <b>Cantidad: </b>{{datos.cantidad}}</h5>
        <br>
      </div>
    </div>

    <div *ngIf="service.finalizarConsultaPersonajes && datos">
      <div class="extra" *ngFor="let personajes of datos.result; let i = index">
        <div class="naves">
          <p class="nombre">{{personajes.title}} |
            <span class="mini"> {{personajes.director}}</span>
          </p>
          <div >
            <ion-list>
              <ion-item class="model" *ngFor="let caracter of personajes.characters; let in = index">
                 {{ service.peopleArr[caracter].name }}
                <button color="dark" ion-button outline item-end (click)="displayInfo(service.peopleArr[caracter])">
                  <ion-icon name="add-circle"></ion-icon>
                </button>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>