<ion-header>
</ion-header>

<ion-content>
  <div class="backing">
    <div text-center class="bg-top">
      STARSHIPS
      <div *ngIf="datos" class="datamanage">
        <br>
        <h5>
          <b>Cantidad: </b> {{datos.cantidad }}</h5>
        <br>
      </div>
    </div>

    <div *ngIf="datos">
      <div class="extra" *ngFor="let naves of datos.result; let i = index">
        <div class="naves">
          <p class="nombre">{{naves.name}} | {{naves.length}}
            <span class="mini"> feets</span>
          </p>
          <ion-list>
            <ion-item class="model">
              <b>Model:</b> {{naves.model}}
            </ion-item>
            <ion-item class="model">
              <b>Man.:</b> {{naves.manufacturer}}
            </ion-item>
            <ion-item class="model">
              <b>HR.:</b> {{naves.hyperdrive_rating}}
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>